#cardsRow {
    position: relative;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, calc(33.33% - 20px));

}

#cardFormat {
    display: block;
    border: 2px black solid;
    max-width: 300px;
    max-height: 700px;

    margin: 0;
}

#cardImage {
    width:300px;
    height: 200px;
    object-fit:contain;
}