/*review all colours*/
#headerBar {
    background-color: #32325D;
    color: aliceblue;
    margin: 0;
}

#blogContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    left: -50%;
}